ol, ul
{
  list-style: none;
}

blockquote, q
{
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after
{
  content: '';
  content: none;
}

table
{
  border-collapse: collapse;
  border-spacing: 0;
}

a
{
  text-decoration: none;
}

code, pre, samp
{
  font-family: monospace;
}

/**
 * BASIC TYPE
 */

img, video
{
  pointer-events: none;
  max-width: 100%;
  vertical-align: middle;
}

p:not(:last-child)
{
  margin: 0 0 1em;
}

html
{
  box-sizing: border-box;
}

*,
*:before,*:after
{
  box-sizing: inherit;
}

.wrapper
{ 
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.masonry-wrapper
{
  max-width: 3840px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 24px;
}
.masonry
{
  columns: 2;
  column-gap: 10px;
}
.masonrycd
{
  columns: 1;
  column-gap: 10px;
}
.masonrypr
{
  columns: 2;
  column-gap: 10px;
}

.masonry-item
{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

.masonry-item .lightbox img {
  width: 100%;
  transition: 0.2s ease-in-out;
}
.masonry-item .lightbox img:hover
{
  transform: scale(1.025);
}

.baguetteBox-button
{
  background-color: none;
}


.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}
@media only screen and (min-width: 768px)
{  
  .masonry 
  {
    columns: 2;
  }
  .masonrypr
  {
    columns: 2;
  }
}
@media only screen and (min-width: 1200px)
{
  .masonry
  {
    columns: 3;
  }
  .masonrypr
  {
    columns: 2;
  }
  .masonrycd
  {
    columns: 2;
  }
}
@media only screen and (min-width: 1900px)
{
  .masonry
  {
    columns: 4;
  }
  .masonrycd
  {
    columns: 3;
  }
  .masonrypr
  {
    columns: 5;
  }
}

@media only screen and (min-width: 2560px)
{
  .masonry
  {
    columns: 6;
  }
  .masonrycd
  {
    columns: 4;
  }
  .masonrypr
  {
    columns: 6;
  }
}